/node_modules
/public/hot
/public/storage
/public/*.pdf
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/Proyectos/Contratos/154648-Certificación_de_producto7434.pdf
public/Proyectos/Contratos/153320-Eliud_Manuel_Niebles_Lopez.pdf
